@config "../../tailwind.config.ts";
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

button{
  cursor: pointer !important;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 0 rgba(16, 185, 129, 0);
  }
  50% {
    box-shadow: 0 0 55px rgba(16, 185, 129, 0.75);
  }
  100% {
    box-shadow: 0 0 0 rgba(16, 185, 129, 0);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 0.8s ease-in-out 4;
}
